/* comfortaa-regular - latin */

/* comfortaa-700 - latin */
@font-face {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""), url("/fonts/comfortaa-v38-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/fonts/comfortaa-v38-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.landing {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1 !important;
}

.landingText,
.landingTextSec {
  color: #ffffff;
  text-align: center;
  padding-top: 1rem !important;
  font-family: "Comfortaa" !important;
  font-weight: 700 !important;
  text-shadow: 2px 2px #787878;
}

.avatar {
  padding-top: 6rem;
  display: flex;
  justify-content: center;
}

.buttons {
  border-radius: 25px !important;
  color: white !important;
  border: 2px solid whitesmoke !important;
  margin: 1.5rem 4px 3rem 4px !important;
  font-family: "Comfortaa" !important;
  font-weight: 700 !important;
}

.buttons:hover {
  border: 2px solid whitesmoke;
  opacity: 0.9;
}
