.landing {
  filter: blur(10px);
  -webkit-filter: blur(10px);
}

.landingText,
.landingTextSec {
  color: #ffffff;
  text-align: center;
  padding-top: 1rem !important;
  font-family: "Comfortaa" !important;
  font-weight: 700 !important;
  text-shadow: 2px 2px #787878;
}

.avatar {
  padding-top: 6rem;
  display: flex;
  justify-content: center;
}

.buttons {
  border-radius: 25px !important;
  color: white !important;
  border: 2px solid whitesmoke !important;
  margin: 1.5rem 4px 3rem 4px !important;
  font-family: "Comfortaa" !important;
  font-weight: 700 !important;
}

.buttons:hover {
  border: 2px solid whitesmoke;
  opacity: 0.9;
}
