.navbarStyles {
  background-color: inherit !important;
  box-shadow: none;
}

.navlinks {
  padding-top: 10px !important;
  font-family: "Comfortaa" !important;
  font-weight: 700 !important;

  color: white !important;
  text-decoration: none !important;
}
