@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap");

.navbarStyles {
  background-color: black !important;
  box-shadow: none;
}

.navlinks {
  padding-top: 10px !important;
  font-family: "Comfortaa", cursive !important;
  font-weight: 700 !important;
  font-size: 1rem !important;
  color: white !important;
  text-decoration: none !important;
}
